@*

    Schedule page for viewing the user's current schedule

    Version 11.15.24

*@

<!-- Link to the page -->
@page "/manage_schedule"

<!-- Set the render mode to interactive server -->
@rendermode InteractiveServer

<!-- Import the API calls and necessary models -->
@using ClassFindrDataAccessLibrary
@using ClassFindrDataAccessLibrary.Models
@using ClassFindrDataAccessLibrary.Utils

<!-- Inject the necessary dependencies -->
@inject NavigationManager _nav
@inject IUserData _user
@inject IClassData _classes
@inject IScheduleData _schedule

<!-- The name of the browser tab -->
<PageTitle>Schedule Page</PageTitle>


<!-- Main body content -->
<div class="content px-4 background">
    <div class="fontBox">

        <SearchBar
            ItemList="@availableClasses"
            OnSearch="AddClass"
            ObjectType="class"
        />

        <table class="w-100">

            <thead>
                <tr>
                    <td style="width: 10%">
                        <b>Course Code</b>
                    </td>
                    <td style="width: 20%">
                        <b>Name</b>
                    </td>
                    <td style="width: 50%">
                        <b>Description</b>
                    </td>
                    <td style="width: 20%">
                        <b>Time</b>
                    </td>
                </tr>
            </thead>

            <tbody>

                @foreach(var item in builtSchedule ?? new ())
                {
                    <tr>
                        <td>
                            @item.CourseCode
                        </td>
                        <td>
                            @item.Name
                        </td>
                        <td>
                            @item.Description
                        </td>
                        <td>
                            @DateParser.GetScheduledTime(item)
                        </td>
                    </tr>
                }

            </tbody>

        </table>

    </div>
</div>


@code {

    private UserModel? loggedInUser;
    private List<ClassModel> availableClasses = new ();
    private List<ClassModel> builtSchedule = new ();


    // Initialize the user model with the currently signed in user
    protected async override Task OnInitializedAsync()
    {
        // Route the user back to the home page if they aren't signed in
        if (_user.GetUserSignOnInfo() == null)
        {
            _nav.NavigateTo("/");
        }

        loggedInUser = _user.GetUserSignOnInfo();
        availableClasses = await _schedule.GetUserSchedule();
    }


    private void AddClass(string c)
    {
        string code = c.Trim().Remove(0, c.IndexOf('('));

        Console.WriteLine(code);

        foreach (var item in availableClasses)
        {
            if (code == $"({item.CourseCode})")
            {
                builtSchedule.Add(item);
                availableClasses.Remove(item);
            }
        }
    }

}